.weatherCard .card-title {
  font-size: x-large;
}

.weatherCard {
  max-width: max-content;
  height: 540px;
  margin-right: 4px;
  background-color: rgb(70, 105, 85);
}

.weatherIcon {
  width: 100px;
  height: 7rem;
  margin-left: 5rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.h1 {
  width: fit-content !important;
  justify-content: start;
}

.detailsTitle {
  text-align: center;
}

.WeatherSection {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

.details {
  text-align: center;
  box-sizing: border-box;
}

.detailedInfo {
  display: flex;
  justify-content: space-around;
  margin-left: 1rem;
  margin-top: 1rem;
}

.searchTab {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 60%;
  text-align: center;
  margin-left: 4rem;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
  

}
.forecast {
  width: fit-content;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
 background-color: rgb(70, 105, 85);
}

.forecast p {
  margin: 0;
  width: fit-content;
  box-sizing: border-box;

}

.forecast-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.weatherDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: nowrap;
}
.stickToTheWidth{
  width:fit-content;
}

.details p {
  margin: 0;
  width: fit-content;
  margin-right: 16px;
}

.values p {
  width: fit-content;
  text-align: end;
  margin: 0;
  font-weight: bold;

}

.weatherIconForecast {
  right: 0px;
}

.activated {
  height: fit-content !important;
}

@media screen and (max-width: 767px) {
 
  .weatherCard {
    width: 100%;
    margin-left: 0.6rem;
    height: max-content;
  }

  .forecast {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: column;
   
  
  }
  
  .detailedInfo {
    margin-top: 1rem;
    margin-left: 0;

  }

  .weatherContainer {
    display: flex;
  }

  .page-title {
    height: fit-content;
    padding-top: 4px;
    padding-bottom: 8px;
  }
}