/* messageBoard.css */



.message {
  margin-bottom: 10px;
    padding: 0px 0px 16px 0px;
    border-radius: 20px;
    width: 60%;
  height: auto;
  display: grid;
  background-color: #eeeeee;
  justify-content: space-around;
}
.messageNoMessages {
  margin: 10px;
  padding: 16px 0 4px 0;
  border-radius: 20px;
  width: 60%;
  height: auto;
  font-size: 1.4rem;
  margin-left: 4rem;
  display: grid;
  background-color: #eeeeee;
  justify-content: space-around;
}
.auth-user-message {
  display: flex;
  background-color: #e2f7fd;
  flex-direction: column;
  align-items: center;
  margin-left: 16rem;
}

.other-user-message {
  display: flex;
  background-color: #f3f3f3;
  flex-direction: column;
  align-items: center;
  margin-right: 16rem;
}
.userImg{
  height: 40px;
  margin-top:16px;
  margin-right: 8px;
}
.userInfo{
  width: fit-content;
  display: flex;
    align-items: flex-end;
    margin-left:0.6rem;
}
.author {
  font-weight: bolder;
  margin-bottom: 4px;
  margin-top: 1rem;
  font-size: medium;
}

.text {
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.4rem;
  margin-top: 0.6rem;
  margin-bottom: 1.2rem;
  width: 80%;
}

.timestamp {
  font-size: 12px;
  color: #888888;
  text-align: right;
  margin-bottom: 0px;
  padding: 4px 0 0 0;
}

.new-message-form {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.new-message-input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  background-color: #f0f0f0;
}

.new-message-input:focus {
  outline: none;
}

.sendButton {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  background-color: #78fa64e7;
  color: #ffffff;
  cursor: pointer;
}
.messages-container {
  height: 400px; /* Adjust the height to your desired value */
  overflow-y: auto;
}


@media screen and (max-width: 768px) {
 
.message-board {
  padding: 10px;;
}
.message{
  height:auto;
  width: auto;
  padding: 0 10px 10px 10px;
}
.auth-user-message {
  display: flex;
  background-color: #e2f7fd;
  flex-direction: column;
  align-items: stretch;
  margin-left: 8rem;
}
.text {
  margin-bottom: 5px;
  text-align: center;
  font-size: 1rem;
  margin-top: 0.6rem;
  width: 80%;
}
.other-user-message {
  display: flex;
  background-color: #f3f3f3;
  flex-direction: column;
  margin-right: 8rem;
  align-items: stretch;
}
.author {
  font-weight: bolder;
  margin: 0.6rem 0px 0.6rem 6px;
  font-size: 1.2rem;

}
.messageNoMessages {
  margin: 10px;
  padding: 16px 0 4px 0;
  border-radius: 20px;
  width: 70%;
  height: auto;
  font-size: 1rem;
  margin-left: 2rem;
}
.slick-dots{
  margin: 0 1rem 2rem 3rem;
}
}